@font-face {
  font-family: fontTitle;
  src: url("./font/adineuePRO-Bold.woff2");
}
@font-face {
  font-family: fontText;
  src: url("./font/AdihausDIN-Regular.woff2");
}
:root {
  --mainBlue: #324e7b;
  --lightBlue: #5068a9;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #1a936f;
  --font-title: fontTitle;
  --font-text: fontText;
}
body {
  background: var(--mainWhite) !important ;
  color: var(--mainDark) !important;
  font-family: var(--font-text) !important;
}
.text-title {
  letter-spacing: 0.5px;
  text-transform: uppercase !important;
  font-size: 1.5rem !important;
  font-family: var(--font-title);
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.text-footer {
  color: #767677;
  line-height: 1;
  text-transform: lowercase;
  font-size: 0.8rem;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem var(--mainDark) solid !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
